.wadLumpTypeTitle {
    color: rgb(240, 240, 240);
    text-align: center;
}

.light-theme {
    .wadLumpTypeTitle {
        color: rgb(45, 45, 45)
    }
}

.wadLumpTypes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wadLumpTypeOuter {
    display: flex;
    cursor: pointer; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 5px;
    background: rgb(240, 240, 240);
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(150, 150, 150);
    min-width: 190px;
}

.wadLumpType {
    text-transform: capitalize;
}

.wadTypeCount {
    color: rgb(110, 110, 110);
    font-size: 14px;
}

#selectedLumpType {
    background: rgb(175, 175, 175);
}
