.settingsMenuOuter {
    position: fixed;
    bottom: 60px;
    right: 20px;
    margin-left: 20px;
    background: rgba(50, 50, 50, 0.9);
    color: rgb(240, 240, 240);
    padding: 10px;
    max-width: 100vw;
    box-sizing: border-box;
}

.settingsMenuTitleOuter {
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.settingsMenuTitle {
    font-size: 20px;
    margin-left: 0;
    cursor: pointer;
}

.setting {
    margin: 5px;
    display: flex;
    align-items: center;

    [type=checkbox] {
        margin: 0;
        margin-right: 3px;
        margin-bottom: 1px;
    }
}