@font-face {
    font-family: 'Doom';
    src: url('../assets/doom.ttf') format('truetype');
}

body {
    margin: 0;
    background: black;
}

h2, h3, h4 {
    font-size: 24px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

h4 {
    font-size: 16px;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.app {
    color: rgb(45, 45, 45);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}

.app a {
    text-decoration: none;
    color: inherit;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.errorScreenOuter {
    display: flex;
    max-width: 1200px;
    height: 90vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.errorScreenInner {
    background: rgb(210, 210, 210);
    border-radius: 20px;
    padding: 20px;
    text-align: center;

    a {
        color: rgb(140, 140, 140);

        &:hover {
            color: rgb(100, 100, 100);
            text-decoration: none;
        }
    }
}