@font-face {
    font-family: 'Doom';
    src: url('../assets/doom.ttf') format('truetype');
}

body {
    margin: 0;
    background: black;
}

h2, h3 {
    font-size: 24px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.app {
    color: rgb(45, 45, 45);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}

.app a {
    text-decoration: none;
    color: inherit;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}