.header {
    display: flex;
    justify-content: flex-end;
    & > div:not(:first-child) {
        margin-left: 7px;
        
        &::before {
            content: "•";
            margin-right: 7px;
        }
    }
}