.logo {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        z-index: 1;
        height: 250px;
        margin-bottom: 160px;
        background: black;
        padding: 50px;
        border-radius: 15px;
    }
    
    h1 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        z-index: 2;
        font-family: Doom;
    }
}

.wad {
    color: rgb(230, 230, 230);
}

.js {
    color: rgb(160, 0, 0);
}

.light-theme {
    img {
        border: 1px solid rgb(150, 150, 150);
    }
}