.uploaderOuter {
    background: rgb(210, 210, 210);
    max-width: 500px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(150, 150, 150);
    flex: 1;
    margin: 25px;
}

.uploaderInner {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background: rgb(240, 240, 240);
    text-align: center;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.uploaderTitle {
    text-align: left;
}

input {
    padding-top: 20px;
    padding-bottom: 20px;
}

.loaded {
    margin-top: 10px;
    margin-bottom: 10px;
}
