.wad {
    display: flex;
    cursor: pointer; 
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 20px;
    background: rgb(240, 240, 240);
    width: 275px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(150, 150, 150);
    margin: auto;
}

.deleteWad {
    color: rgb(100, 100, 100);
}

.active {
    background: rgb(210, 210, 210);
}