.wadLumpOuter {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid rgb(210, 210, 210);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}