.wadListOuter {
    margin: 25px;
    margin-left: 0;
    flex: 1;
}

.wadListTitle {
    color: rgb(240, 240, 240);
    text-align: center;
}

.wadListInner {
    display: flex;
    flex-wrap: wrap;
}
