.wadLumpDetailsOuter {
    display: block;
    width: 100%;
    margin: 10px;
    border: 1px solid rgb(45, 45, 45);
    box-shadow: 1px 1px 2px 0;
    background: rgb(180, 180, 180);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.wadLumpDetailsInner {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background: rgb(210, 210, 210);
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.wadLumpDetailsEntry {
    margin-bottom: 10px;
}

.wadLumpDetailsAnchor {
    background: red;
}