.wadMetadataOuter {
    background: rgb(210, 210, 210);
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(150, 150, 150);
    flex: 1;
    margin: 25px;
    align-self: flex-start;
}

.wadMetadataTitle {
    text-align: left;
}

.wadMetadataInner {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background: rgb(240, 240, 240);
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.wadMetadataTable {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.wadMetadataEntry {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7px;
    min-width: 50%;
    justify-content: center;
}

.wadMetadataLabel {
    width: 100px;
    margin-right: 5px;
}

.wadMetadataValue {
    width: 100px;
}

input.wadMetadataValue {
    width: 100px;
    box-sizing: border-box;
}