.player {
    [role=button] {
        font-size: 30px;
        height: 35.5px;
        cursor: pointer;
    }
}

.loading {
    color: rgb(110, 110, 110);
    font-size: 14px;
}

.stop {
    margin-left: 5px;
    margin-right: 5px;
}