.player {
    display: flex;
    justify-content: center;

    [role=button] {
        padding: 5px;
        cursor: pointer;

        &, svg {
            height: 40px;
            width: 40px;    
        }
    }
}

.portablePlayer {
    [role=button] {
        cursor: pointer;

        &, svg {

            height: 20px;
            width: 20px;
        }
    }
}

.loading {
    color: rgb(110, 110, 110);
    font-size: 14px;
}

.stop, .forward {
    margin-left: 5px;
    margin-right: 5px;
}

.forward {
    margin-left: 4px;
    margin-right: 2px;
    width: 24px !important;
    height: 24px !important;

    svg {
        width: 24px !important;
        height: 24px !important;
    }
}