.player {
    height: 20px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgb(240, 240, 240);
}

.dataBlock {
    margin-left: 5px;
}

.songName {
    margin-left: 5px;
    overflow: hidden;
    word-break: break-all;
}
