<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#323232">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/public/archie.png" type="image/png"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>wadJS</title>
    </head>
    <style>
    body {
        margin: 0;
        background: black;
    }

    #placeholder {
        font-family: Roboto;
        z-index: -1;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        min-height: 100vh;
        min-width: 100vw;
        color: white;
    }
    </style>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136207852-1
"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136207852-1');
    </script>
    <body>
        <section id="app"></section>
        <section id="placeholder">
            Loading...
        </section>
        <script id="libtimidity" src="/public/midi/libtimidity.js"></script>
    </body>
</html>